#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Afterlife_Era
[/binary_path]
#define ERA_16_PREFIX
Afterlife#enddef

#define AFTER_DWARF_NERF
"The Dwarvish Fighter line has 20% blade/impact/pierce resistances on all levels"#enddef

#define AFTER_WOSE_NERF
"Woses have -25% cold resistance."#enddef

#define AFTER_SKEL_BUFF
"Revenant has 0% impact resistance. Draug has 20% impact resistance."#enddef

#define AFTER_LICH_CHANGE
"Lich has -30% resistance to arcane and fire."#enddef

#define AFTER_HI_NERF
"Heavy Infantryman line has -10% cold resistance."#enddef

#define AFTER_ELF_SORC_ARCANE
"Elvish Sorceress has -10% arcane resistance."#enddef
[era]
    id={ERA_16_PREFIX}_era_default
    name= _ "Afterlife Era"
    description=_ "This is an era for rated Afterlife, based on Wesnoth 1.16 Default Era with changes based on Afterlife Rated winrate statistics. The list of changes comparing to Wesnoth 1.16 Default:

* Dwarvish Steelclad and Dwarvish Lord have 20% blade/impact/pierce resistances;

* Orcish Crossbowman needs 50 xp to level up. Orcish Slayer requires 50 xp to level up to Orcish Nightblade;
* Orcs can recruit Orcish Leader and Orcish Shamaness.

* No Red Mage and White Mage in Rebels' leaderpool;
* Woses have -25% cold resistance.

* No Bone Shooter in Undead's leaderpool;
* Revenant has 0% impact resistance. Draug has 20% impact resistance.

"
    type=hybrid
    require_era=yes
    {RANDOM_SIDE}
    {./eras/factions/loyalists-default.cfg}
    {./eras/factions/rebels-default.cfg}
    {./eras/factions/northerners-default.cfg}
    {./eras/factions/undead-default.cfg}
    {./eras/factions/knalgans-default.cfg}
    {./eras/factions/drakes-default.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
{./content/units.cfg}

#undef ERA_16_PREFIX
#endif
